<div id="container">
    <header id="header">
        <h1>RINKSIDE</h1>
    </header>

    <div id="main">
        <div id="map_canvas" style="background:#ccc;"></div>
    </div>

    <footer id="footer">
        <h1>Copyright &copy; 2010 <a href="http://davefearon.com" target="_blank">Dave Fearon</a> &amp; <a href="http://warrendunlop.com" target="_blank">Warren Dunlop</a></h1>
    </footer>
</div> <!-- end of #container -->