<div id="container">
  <div id="left-wrapper">
    <div id="logo"></div>
    
    <header id="header">
      <h3>filters</h3>
      
    </header>
    <footer id="footer">
      <small>rinksi.de is an open data project by ottawans <a href="http://davefearon.com" target="_blank">Dave Fearon</a> &amp; <a href="http://warrendunlop.com" target="_blank">Warren Dunlop</a></small>
    </footer>
  </div> <!-- end left -->
  
  <div id="right-wrapper">
    <div id="main">
        <div id="map_canvas"></div>
    </div>
  </div>
</div> <!-- end of #container -->