<div id="logo"></div>

<div id="corner-tl"></div>
<div id="corner-tr"></div>
<div id="corner-br"></div>
<div id="corner-bl"></div>

<div id="container">
    <header id="header"></header>

    <div id="main">
        <div id="map_canvas"></div>
    </div>

    <footer id="footer">
      <small>an open data project by ottawans <a href="http://davefearon.com" target="_blank">Dave Fearon</a> &amp; <a href="http://warrendunlop.com" target="_blank">Warren Dunlop</a></small>
    </footer>
</div> <!-- end of #container -->